# Ignore virtual environments
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.ipynb_checkpoints/

# Ignore saved models and results
saved_models/
results/
*.pth
*.pt

# Ignore data (optional if data is too big or private)
data/
!data/pantadeusz.txt  # unless you want to include it

# Ignore logs or system files
*.log
.DS_Store
Thumbs.db

# Jupyter Notebook stuff
.ipynb_checkpoints/

# VSCode and other IDEs
.vscode/
.idea/
